public class pegawai_ganjil {
    String nik, nama, bagian;
    double gaji_pokok;
    
    double getGajiPokok(){
        if(bagian == "Keuangan"){
            gaji_pokok = 500000;
        }else if(bagian == "Produksi"){
            gaji_pokok = 1000000;
        }else{
            gaji_pokok = 1500000;
        }
        return gaji_pokok;
        
    }
    void cetak(){
        DecimalFormat df = new DecimalFormat("##0,000");
        
        System.out.println("----- Detail Pegawai ----");
        System.out.println("No: "+this.nik);
        System.out.println("Nama :"+this.nama);
        System.out.println("Bagian: "+this.bagian);
        System.out.println("Gaji Pokok: "+ df.format(getGajiPokok()));
}

}

	class MainPegawai{
		public static void main(String[] args){
			Scanner sc = new Scanner(System.in);
			Pegawai k  = new Pegawai();
			
			System.out.print("Nomer Pegawai: ");
			k.nik = sc.next();
			
			System.out.print("Nama: ");
			k.nama = sc.next();
			
			System.out.print("Bagian: ");
			k.bagian = sc.next();
			
			k.cetak();
			
		}
	}